
  
  .maindiv {
    margin-top: 5rem;
    max-width: none;
    max-width: 80rem;
    margin-left: auto;
  
  
  }
  
 
  
  .grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
    display: grid;
   
  }
  
  
  .relative {
    position: relative;
    flex-direction: row;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-direction: column;
    flex-direction: row;
  }
  
 

  
  .h-12 {
    background: rgba(72, 191, 132, 0.1) !important;
    flex-shrink: 0;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;


  }
  

  .sm\:min-w-0 {
    min-width: 0;
    flex: 1;

  }
  
  
  
  .textheading{
    color: #1f2937;
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 600;

  }
  
 
  
  .mt-2 {
    width: 400px;
    margin-top: 0.5rem;
    color: #4b5563;
    line-height: 1.75rem;
    font-size: 1.25rem;
    font-weight: 400;

  }
  
  
  
  
  @media  (max-width: 890px){
  
      .grid {
       
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
    }